

  h3{
    text-align: center;
    font-size:1.5vw;
    list-style-type: none;
    line-height: 1.6;
    font-family: 'ariel', sans-serif;

    
  }

.hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color:#4CAF50;
  text-align: center;
} 



a:link, a:visited {
  
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  text-decoration: none;
}



td  {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    padding-left:2vw;
    border: none;
    
  }

th{
    border: none;
    text-align: center;
    padding: 10px;
    color:#fff;
    padding-left:2vw;
}

 tr{

    border-bottom: 1px solid rgba(76, 175, 80, 0.5);
    width: 80%; 
    text-align: center;
    padding-left:10vw;
    border: none;
}
table {
    border-collapse: collapse;
    width: 100%;
    background: rgba(76, 175, 80, 0.5);
    text-align: center;
    font-size:1.5vw;
    list-style-type: none;
    line-height: 3;
    text-align:center;
    padding-left:3vw;
    
    
    
    
    
    
  }


tr:hover {background-color:#4CAF50;
   

}

p{
  font-size:1vw;
  text-align:center;
  padding-top:2vw;
  color: #fff;
}


h2{
    top:0vw;
    font-size:1.5vw;
    margin-top:0.6vw;
    position:left;
    text-decoration: none;
                
            
    }
        
button{
    background-color:#4CAF50;
    Position:fixed;
    color: #fff;
    border: 1px solid #4CAF50;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    width:12.3vw;
 
    }

.positie
{
    margin-top:0vw;
    border-collapse: collapse;
    font-family: 'Thasadith', sans-serif;
    width: 80%;
    background: rgba(76, 175, 80, 0.5);
    text-align: center;
    font-size:1.2vw;
    list-style-type: none;
    line-height: 1.6;
    display:block;
    border-bottom: 1px solid #ddd;
    border-spacing: 4px; 
    
    margin-left:10vw;
    
}

.form-control {
    color: #4CAF50;
    border: 1px solid #4CAF50;
    text-align: center;
    width:100px;
    font-weight: 600;
    margin-bottom: 15px;
    
}

.wijzigen{
   position: absolute;
   top:10vw;
   left:33vw;
   
}

.buttonupdate{
  position: relative;
  top:10vw;
  left:-20vw;
}
        
.header{
  color:green;
  font-size:5vw;
  font-family: 'Luckiest Guy', cursive;
 
}


.container{
  position: relative;
  z-index:1 ;
}

.boot{
  background-color:black;
}