.body {
    background-image: url("img/pexels-photo-189378.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  h3{
    text-align: center;
    font-size:1.5vw;
    list-style-type: none;
    line-height: 1.6;
    
}

.hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color:#4CAF50;
  text-align: center;
} 



a:link {
  color: green;
  
}

tr:hover {background-color:#4CAF50;}



td  {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    padding-left:2vw;
    border: none;
    
  }

th{
    border: none;
    text-align: center;
    padding: 10px;
    color:#fff;
    padding-left:2vw;
}

 tr{

    border-bottom: 1px solid rgba(76, 175, 80, 0.5);
    width: 80%; 
    text-align: center;
    padding-left:10vw;
    border: none;
}
table {
    border-collapse: collapse;
    width: 100%;
    background: rgba(76, 175, 80, 0.5);
    text-align: center;
    font-size:1.5vw;
    list-style-type: none;
    line-height: 3;
    text-align:center;
    padding-left:3vw;
    
    
    
    
    
    
  }


tr:hover {background-color:#4CAF50;
   

}

p{
  font-size:1vw;
  text-align:center;
  padding-top:2vw;
  color: #fff;
}

h1{
    text-align: center;
    font-size: 3.8vw;
    color: #4CAF50;
   
            
    }

h2{
    top:0vw;
    font-size:1.5vw;
    margin-top:0.6vw;
    position:left;
    text-decoration: none;
                
            
    }
        
button{
    background-color:#4CAF50;
    Position:fixed;
    color: #fff;
    border: 1px solid #4CAF50;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    width:12.3vw;
 
    }

.positie
{
    margin-top:0vw;
    border-collapse: collapse;
    
    width: 80%;
    background: rgba(76, 175, 80, 0.5);
    text-align: center;
    font-size:1.2vw;
    list-style-type: none;
    line-height: 1.6;
    display:block;
    border-bottom: 1px solid #ddd;
    border-spacing: 4px; 
    
    margin-left:10vw;
    
}

.form-control {
    color: #4CAF50;
    border: 1px solid #4CAF50;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

.wijzigen{
   margin-top:15vw;
   margin-left:42vw;
   
}
        
